<section id="featured">
  <div class="flex justify-between p-10">
    <h1 class="py-2 font-bold text-[20px]">All Products</h1>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
    >
      <option selected>Filter</option>
      <option value="US">New Arrivals</option>
      <option value="CA">Relevance</option>
      <option value="FR">Low to High</option>
      <option value="DE">High to Low</option>
    </select>
  </div>
  <div
    class="px-10 py-5 grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-5 m-auto"
  >
    <app-product
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
  </div>
</section>
