<div class="relative flex w-full max-w-xs flex-col overflow-hidden rounded-lg">
  <div class="relative flex h-1/2 w-full overflow-hidden rounded-lg" href="#">
    <img
      class="object-cover min-h-52"
      src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-15-pro-model-unselect-gallery-2-202309_GEO_US?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1693010535312"
      alt="product image"
    />

    <div
      class="absolute flex flex-col gap-3 top-0 right-0 m-2 px-2 text-center text-sm font-medium text-white"
    >
      <fa-icon [icon]="faWish" class="rounded bg-[#13679B] p-1"></fa-icon>

      <fa-icon [icon]="faView" class="rounded bg-[#13679B] p-1"></fa-icon>
    </div>
  </div>
  <div class="mt-4 pb-5">
    <a href="#">
      <h5 class="text-lg tracking-tight text-slate-900">
        iPhone 15 Pro Max - 256GB
      </h5>
    </a>
    <div class="mt-2 mb-5 flex items-center justify-between">
      <p>
        <span class="text-2xl font-bold text-slate-900">$449</span>
        <span class="text-sm text-slate-900 line-through">$699</span>
      </p>
      <div class="flex items-center justify-center">
        <fa-icon
          [icon]="faRate"
          class="h-5 w-5 text-yellow-300 mx-auto"
        ></fa-icon>
        <fa-icon
          [icon]="faRate"
          class="h-5 w-5 text-yellow-300 mx-auto"
        ></fa-icon>
        <fa-icon
          [icon]="faRate"
          class="h-5 w-5 text-yellow-300 mx-auto"
        ></fa-icon>
        <fa-icon
          [icon]="faRate"
          class="h-5 w-5 text-yellow-300 mx-auto"
        ></fa-icon>
        <fa-icon
          [icon]="faRate"
          class="h-5 w-5 text-yellow-300 mx-auto"
        ></fa-icon>

        <span
          class="mr-2 ml-1 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold"
          >5.0</span
        >
      </div>
    </div>
    <button
      class="flex items-center w-full justify-center rounded-md bg-[#13679B] border border-[#13679B] px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-white hover:text-[#13679B]"
    >
      <fa-icon [icon]="faCart" class="rounded p-1"></fa-icon>Add to Cart
    </button>
  </div>
</div>
